<?xml version="1.0" encoding="UTF-8"?>
<meta xmlns="http://exist-db.org/xquery/repo" commit-id="@commit-id@" commit-time="@commit-time@">
    <description>This package hold the data for the Bullinger application</description>
    <author/>
    <website/>
    <status>alpha</status>
    <license>GNU-LGPL</license>
    <copyright>true</copyright>
    <type>application</type>
    <prepare>pre-install.xql</prepare>
    <finish>post-install.xql</finish>
    <target>bullinger-data</target>
    <permissions user="bullinger" group="tei" mode="rw-rw-r--"/>
</meta>
